body {
display: grid;
place-items: center;
height: 100vh;
margin: 0;
padding: 0;
background-color:#222 ;
color: white;
user-select: none;
}

.main{
    display: flex; 
    gap:200px;
}

.left{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.img-Beans{
    width: 30vmin;
    height: auto; 
    border-radius: 10px;
}
.img-Beans:hover{
    cursor: pointer;
}

.img-Beans:active{  
    border-image-source: none;
}

.upgrade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    border-radius: 5px;
}

.second-section h4{
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.second-section p{
    margin: 0;
}

.upgrade-img{
    width: 55px;

}

.coin-img{
    width: 20px;
    height: 20px;
}

.info-cost {
    display: flex;
    gap: 5px;
    align-items: center;
}

